@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html{
    font-size: 10px
}

body{
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 10rem;
    background-color: #c80000;
    
    
}

.marque{
    font-size: 4rem;
    margin-top: 2rem;
    margin-left: 2rem;
    color: white;
    justify-items: end;
}

.slogant{
    font-size: 1.5rem;
    padding-left: 1rem;
    
}

.entete{
    background-color: #666;
    text-align: center;
    padding: 0.5rem;
    color: white;
    font-style: normal;
    font-size: 1.5rem;
    
       
}

.fafa{
    font-style: italic;
    font-size: 2rem;
}

.main{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 2rem;
    justify-content: center;
}

.figurine{
    border: 1px solid #ccc;
    padding: 0.7rem;
    max-width: 30rem;
    
    
}

.fig{
    width: 100%;
    
}

.legend{
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
    color: #ccc;
    font-size: 1.2rem;
    padding-bottom: 0.3rem;
    margin-bottom: 0.7rem;
    padding-top: 1rem;
}

.titre{
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 0.7rem;
}

.info{
    font-size: 1.3rem;
    padding-bottom: 1rem ;

}

.panier{
    width: 100%;
    height: 4rem;
    background-color: #c80000;
    color: white;
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
   
}

.pbarrer{
    text-decoration: line-through;
}

.footer{
    background-color: #666;
    padding: 1.5rem;
    font-family: 'Raleway', sans-serif;
    margin-top: 3rem;
}

.copy{

    color: white;
    text-align: center;

}
